/* You can add global styles to this file, and also import other style files */
body {
    font-size: 62.5%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}
