<app-header></app-header>

<section class="section-app">
  <div class="form">
    <span class="title">Add a Link</span>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control" #newtitle>
      </div>
      <div class="form-group">
        <label for="title">Link:</label>
        <input type="text" class="form-control" #newlink>
      </div>
      <div class="button-container">
        <button (click)="addArticle(newtitle, newlink)">Submit link</button>
      </div>
    </form>
  </div>

  <div class="articles">
    <app-article *ngFor="let article of sortedArticles()" [article]="article"></app-article>
  </div>

</section>
