.section-app {
  padding: 0 25%;

  .articles {
    margin-top: 30px;
  }

  .form {
    background-color: lighten(lightblue, 15%);
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid darken($color: #ccc, $amount: 10%);
    box-shadow: 1px 2px 2px #ccc;

    .title {
      color: black;
      font-weight: 700;
      font-size: 1.1rem;
      width: 100%;
      display: block;
      margin: 10px 0;
    }

    .button-container {

      display: flex;

      button {
        margin-left: auto;
        margin-top: 8px;
        padding: 7px 25px;
        border-radius: 4px;
        outline: none;
        border: none;
        font-weight: 700;
        color: white;
        background-color: rgb(27, 202, 27);

        &:hover {
          background-color: darken(rgb(27, 202, 27), 10%);
          cursor: pointer;
        }
      }
    }

    .form-group {

      margin: 13px 0;

      & > * {
        display: block;
        width: 100%;
        margin: 4.5px 0;
      }

      label {
        font-weight: 650;
        font-size: .9rem;
      }

      .form-control {
        color: black;
        background-color: #fff;
        text-indent: 15px;
        width: 100%;
        padding: 5px 0;
        border-radius: 4px;
        border: 1px solid #ccc;

        &:active, &:focus {
          border: 1px solid darken($color: lightblue, $amount: 25%);
          outline: none;
        }
      }

    }

  }

}
