<app-header></app-header>

<section class="section-app">
  <div class="form">
    <span class="title">Add a Link</span>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="title">Link:</label>
        <input type="text" class="form-control">
      </div>
      <div class="button-container">
        <button type="submit">Submit Link</button>
      </div>
    </form>
  </div>
</section>
